mixin create-input-block(params = {})
	
	//- default values
	-	
		const {
			placeholder = 'Enter placeholder',
			textField = 'Enter textField',
			condition = 'Enter condition',
			size = 'big',
			borderColor = 'dark-25',
			placeholderColor = 'dark-25',
			arrowType = false
		} = params


	//- сlasses
	-
		const mainInputClass = 'input-block__input-item'
		const borderColorClass = borderColor=='dark-25' ? `${mainInputClass}_border-color_${borderColor}` : ''
		const placeholderColorClass = placeholderColor=='dark-25' ? `${mainInputClass}_placeholder-color_${placeholderColor}` : ''
		const arrowClass = arrow ? `input-block__arrow input-block__arrow_type_${arrow}` : ''

	//- block
	div(class=`input-block input-block_size_${size}`)
		.input-block__heading
			label.input-block__text-field=textField
			if condition 
				label.input-block__condition=condition
		.input-block__input-items
			input(class=`${mainInputClass} ${borderColorClass} ${placeholderColorClass}` placeholder=placeholder)
			if arrow
				div(class=arrowClass)

//- Call mixin //
//- placeholder: Enter placeholder
//- textField: Enter text field 
//- condition: Enter condition, false
//- size: big, meduim, small
//- borderColor(default - dark-25): dark-50
//- placeholderColor(default - dark-25): dark-75
//- arrowType(default - false): dropdown, forward